
<ion-view view-title="通知公告详情">
  <div class="bar bar-header bar-dark">
    <div class="buttons">
      <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
    </div>
    <h1 class="title">通知公告详情</h1>

  </div>

  <ion-content class="padding has-header">

    <h2>{{annodata.title}}</h2>
    <p ng-bind-html="annodata.content|to_html"></p>

    <div class="list list-inset" ng-repeat="atm in annodata.atms">
      <div class="item">
        <a href="javascript:;" ng-click="preview(atm)">{{atm.fileName}}</a>
      </div>
    </div>

  </ion-content>
</ion-view>
