<ion-view view-title="通知公告详情">
  <div class="bar bar-header bar-dark">
    <div class="buttons">
      <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
    </div>
    <h1 class="title">{{user.name}}gdfg</h1>

  </div>

  <ion-content class="has-header" style="background:#f5f5f5">
    <div class="row chats-left">
      <div class="col"><img class="avatar" src="cover.jpg"></div>
      <div class="col col-80">
        <span class="content">Tessddddddddddddddddd</span></div>
        <div class="col col-10"></div>
    </div>
    <div class="row chats-right">
      <div class="col col-10"></div>
      <div class="col col-80"><span class="content">Tessddddddsdfsdfsdfsdfsdfsdssssssssssssssssssfsdfsdfdddddddddddfsdfsdfsdfsdfsdssssssssssssssssssfsdfsdfdddddddddd</span></div>
      <div class="col"><img class="avatar" src="cover.jpg"></div>
    </div>

  </ion-content>
  <div class="bar bar-footer bar-stable">
    <div class="col-80">
      <input type="text" placeholder="说点什么" style="width:100%">
    </div>
    <div class="col-20" style="padding-left:5px;">
      <div class="button-bar">
        <button class="button button-dark">
          发送
        </button>
      </div>
    </div>

  </div>
</ion-view>
