<ion-view view-title="我的工作">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				常用办公审批
				<a href="#/tab/work" class="icon ion-chevron-right jump-m-w"></a>
			</div>
			<div class="row">
				<div class="col t-center">
					<a class="jump-w" href="#/tab/work/sealform"> <img src="img/sealform.png" width="30">
					<div>
						用印
					</div> </a>
				</div>
				<div class="col t-center">
					<a class="jump-w" href="#/tab/work/incomingform"><img src="img/incomingform.png" width="30">
					<div>
						收文
					</div></a>
				</div>
				<div class="col t-center">
					<a class="jump-w" href="#/tab/work/outgoingform"><img src="img/outgoingform.png" width="30">
					<div>
						发文
					</div></a>
				</div>
				<div class="col t-center">
					<a class="jump-w" href="#/tab/work/anno"><img src="img/anno.png" width="30">
					<div>
						通知公告
					</div></a>
				</div>
			</div>
			<div class="item item-divider">
				待我处理
				<a href="#/tab/backlog/todo" class="icon ion-chevron-right jump-m-w"></a>
			</div>

			<a class="item item-avatar" href="#"> <img src="http://www.phonegap100.com/data/pgapp/1444842421.png"> <h2>title</h2>
			<p>
				Butterfinger
			</p> </a>
			<a class="item item-avatar" href="#"> <img src="http://www.phonegap100.com/data/pgapp/1444842421.png"> <h2>title</h2>
			<p>
				Butterfinger
			</p> </a>
			<a class="item item-avatar" href="#"> <img src="http://www.phonegap100.com/data/pgapp/1444842421.png"> <h2>title</h2>
			<p>
				Butterfinger
			</p> </a>

			<div class="item item-divider">
				待我查阅
			</div>

			<a class="item item-avatar" href="#"> <img src="http://www.phonegap100.com/data/pgapp/1444842421.png"> <h2>title</h2>
			<p>
				Butterfinger
			</p> </a>
			<a class="item item-avatar" href="#"> <img src="http://www.phonegap100.com/data/pgapp/1444842421.png"> <h2>title</h2>
			<p>
				Butterfinger
			</p> </a>
			<a class="item item-avatar" href="#"> <img src="http://www.phonegap100.com/data/pgapp/1444842421.png"> <h2>title</h2>
			<p>
				Butterfinger
			</p> </a>
		</div>
	</ion-content>
</ion-view>
