
<ion-view view-title="通知公告">
  <div class="bar bar-header bar-dark">

    <h1 class="title">通知公告</h1>
    <div class="buttons">
      <button class="button button-clear"><i class="icon ion-android-add"></i></button>
    </div>
  </div>
  <ion-content class="stable-bg has-header">

    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card" ng-repeat="playlist in playlists">
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/anno/{{playlist.id}}">
        <img ng-src="{{$host}}{{playlist.sender.avatar48}}?token={{$token}}">
        <h2>{{playlist.title}}</h2>
        <p>{{playlist.sender.name}}-{{playlist.sender.ops}}</p>
      </ion-item>
      <div class="item item-body">
        <a href="#" class="subdued">{{playlist.sendtime}}</a>
      </div>
    </div>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadAnnoData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
