<ion-view view-title="通讯录">
	<div class="bar bar-header bar-dark">
		<h1 class="title">通讯录</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click='openSearchModal()'>
				<i class="icon ion-ios-search-strong"></i>
			</button>
		</div>
	</div>
	<ion-content class="has-header">

		<div class='list'>
			<div ng-repeat='organ in userList'>
				<div class="item item-divider" style='background-color:white;padding-top: 14px;padding-bottom: 14px;' ng-click='fold(organ)'>
					<i ng-init='organ.folding="ion-arrow-down-b"' ng-class='organ.folding' style='color:#AAA;'></i>
					&nbsp;&nbsp;
					{{organ.name}}
					<span class="f-r" style="color:#aaa;font-size:10px;">{{organ.nums}}</span>
				</div>
				<a ng-show="!organ.userShow" class="item item-avatar" href="javascript:void(0)" ng-click="jumpdetails(user)" ng-repeat="user in organ.users"> <img ng-src="{{$host}}{{user.avatar}}?token={{$token}}"> <h2 ng-bind='user.name'></h2> <p ng-bind='user.ops'></p> </a>
			</div>
		</div>

	</ion-content>

	<script id="search-modal.html" type="text/ng-template">
		<ion-modal-view style="background: #f5f5f5;">
			<ion-header-bar class="bar bar-header item-input-inset">
				 <label class="item-input-wrapper">
			        <i class="icon ion-ios-search placeholder-icon"></i>
			        <input type="search" placeholder="搜索" ng-model="query.txt" ng-change="search(query.txt)">
			      </label>
			      <button class="button button-clear button-balanced" ng-click='closeSearchModal()'>
			        	取消
			      </button>
			</ion-header-bar>
			<ion-content>
				<div class='list'>
					<a class="item item-avatar" href="javascript:void(0)" ng-click="jumpdetails(user)" ng-repeat="user in result"> <img ng-src="{{$host}}{{user.avatar}}?token={{$token}}"> <h2 ng-bind='user.name'></h2> <p ng-bind='user.ops'></p> </a>
				</div>
			</ion-content>
		</ion-modal-view>
	</script>
	
	<script id="details-modal.html" type="text/ng-template">
		<ion-modal-view style="background: #f5f5f5;">
			<ion-header-bar class="bar bar-header bar-dark">
				<button class="button button-clear" ng-click="closeDetailsModal()"><i class="icon ion-android-arrow-back"></i></button>
				<h1 class="title">个人资料</h1>
			</ion-header-bar>
			<ion-content>
				
			</ion-content>
		</ion-modal-view>
	</script>

</ion-view>
