<ion-view view-title="办公审批">
	<ion-content>
		<ion-list>
			<div>
				<img src="./img/work_banner.png" style="margin-top: -1px;" ng-style="bannerStyle">
			</div>
			<div on-touch="onTouch($event)" on-release="onRelease($event)" on-drag="onDrag($event)" class="grid9" ng-repeat="playlist in playlists" ng-click="active(playlist)" type="item-text-wrap">
				<a href="#/tab/work/{{playlist.en}}"> <img ng-src="{{$host}}{{playlist.icon}}?token={{$token}}">
				<div>
					{{playlist.name}}
				</div> </a>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
