<ion-view view-title="设置">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
        接收通知
      </ion-toggle>
    </ion-list>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
    </div>
    <div class="list list-inset">
      <div class="item">
        Raiders of the Lost Ark
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    </div>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i> Enter home address
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i> Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i> Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i> Enter card information
      </a>

    </div>
  </ion-content>
</ion-view>
