<ion-view view-title="我的工作">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        常用办公审批
      </div>
      <div class="row">
        <div class="col"><img src="http://www.phonegap100.com/data/pgapp/1444842421.png" width="30"></div>
        <div class="col"><img src="http://www.phonegap100.com/data/pgapp/1444842421.png" width="30"></div>
        <div class="col"><img src="http://www.phonegap100.com/data/pgapp/1444842421.png" width="30"></div>
        <div class="col"><img src="http://www.phonegap100.com/data/pgapp/1444842421.png" width="30"></div>
      </div>
      <div class="item item-divider">
        待我处理
      </div>

      <a class="item item-avatar" href="#">
        <img src="http://www.phonegap100.com/data/pgapp/1444842421.png">
        <h2>title</h2>
        <p>Butterfinger</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://www.phonegap100.com/data/pgapp/1444842421.png">
        <h2>title</h2>
        <p>Butterfinger</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://www.phonegap100.com/data/pgapp/1444842421.png">
        <h2>title</h2>
        <p>Butterfinger</p>
      </a>



      <div class="item item-divider">
        待我查阅
      </div>

      <a class="item item-avatar" href="#">
        <img src="http://www.phonegap100.com/data/pgapp/1444842421.png">
        <h2>title</h2>
        <p>Butterfinger</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://www.phonegap100.com/data/pgapp/1444842421.png">
        <h2>title</h2>
        <p>Butterfinger</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://www.phonegap100.com/data/pgapp/1444842421.png">
        <h2>title</h2>
        <p>Butterfinger</p>
      </a>
    </div>
  </ion-content>
</ion-view>
