<ion-view view-title="设置">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          性别
        </div>
        <select>
          <option>男</option>
          <option selected>女</option>
        </select>
      </label>

    </div>
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
        接收通知
      </ion-toggle>
    </ion-list>
    <div class="list list-inset">
      <div class="item">
        Raiders of the Lost Ark
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i> Enter home address
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i> Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i> Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i> Enter card information
      </a>

    </div>
    <button class="button button-block button-dark" ng-click="logout()">
      退出登录
    </button>
  </ion-content>
</ion-view>
