
<ion-tabs class="tabs-icon-top tabs-stable tabs-color-active-positive">

  <ion-tab title="消息" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/msg">
    <ion-nav-view name="tab-msg"></ion-nav-view>
  </ion-tab>

  <ion-tab title="通知公告" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" ng-click="selectTabWithIndex(1)">
    <ion-nav-view name="tab-anno"></ion-nav-view>
  </ion-tab>

  <ion-tab title="办公审批" icon-off="ion-social-buffer-outline" icon-on="ion-social-buffer" href="#/tab/works">
    <ion-nav-view name="tab-work"></ion-nav-view>
  </ion-tab>

  <ion-tab title="通讯录" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
