<ion-view view-title="审批详情">
  <div class="bar bar-header bar-dark">
    <div class="buttons">
      <button class="button button-clear" ng-click="$ionicGoBack()"><i class="icon ion-android-arrow-back"></i></button>
    </div>
    <h1 class="title">审批详情</h1>
    <div class="buttons">
      <button class="button button-clear"><i class="icon ion-android-add"></i></button>
    </div>
  </div>
  <ion-content class="has-header">
    <div class="list">
      <div class="item">
        <h2>{{play.title}}</h2>

      </div>
      <div class="item item-image"><img src="img/card_share.jpg"></div>
    </div>
  </ion-content>
</ion-view>
