<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,height=device-height">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>


</head>

<body ng-app="myApp" ng-controller="Login">
  <div class="view-container">
      <div class="bar bar-header">
        <div class="h1 title">登录</div>
      </div>
      <div class="content has-header">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">wti账号</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">密码</span>
            <input type="password" ng-model="loginData.password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="doLogin()">确认登录</button>
        </div>
        <div class="padding">
          <input type="file" value="upload files">
        </div>
      </div>
    </div>
  <script>
    angular.module('myApp', ['ionic'])
      .controller('Login', function($ionicPlatform,$scope,$http,$ionicPopup,$timeout,$ionicLoading) {
        $scope.isAuth = window.localStorage.token;
        var host = 'http://218.249.66.27:8888';
        $ionicPlatform.ready(function() {
          if (window.cordova && window.cordova.plugins && window.cordova.plugins.Keyboard) {
            cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
            cordova.plugins.Keyboard.disableScroll(true);
          }else{
            host = '';
          }
        });
        $scope.loginData = {};
        $scope.doLogin = function() {
          $ionicLoading.show({
           template: '正在加载...'
          });

          $http.post(host + '/gettoken', {
            account: $scope.loginData.username,
            password: $scope.loginData.password
          }).success(function(data) {
            $ionicLoading.hide();
            if (data.res_code == 100) {
              window.localStorage.token = data.user_info.token;
              window.localStorage.acc = $scope.loginData.username;
              $ionicLoading.hide();
              window.location.href = 'index.html';
              //history.replaceState({}, "page", "index.html");
            }else{
              var alertPopup = $ionicPopup.alert({
                 title: '提示',
                 template: data.res_msg
              });
              $ionicLoading.hide();
              $timeout(function() {
                  alertPopup.close();
               }, 3000);
            }
          });
        };


      });
  </script>
</body>

</html>
