<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,height=device-height">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>


</head>

<body ng-app="myApp" ng-controller="Login">

  <ion-nav-bar class="bar-stable" ng-show="!isAuth">

  </ion-nav-bar>
  <ion-view ng-show="!isAuth" style="display:none;">
    <ion-header-bar>
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">wti账号</span>
          <input type="text" ng-model="loginData.username" value="shenxh">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="loginData.password" value="shen1234">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="doLogin()">登录</button>
        </label>
      </div>
    </ion-content>
  </ion-view>
  <script>
    angular.module('myApp', ['ionic'])
      .controller('Login', function($ionicPlatform,$scope,$http,$ionicPopup,$timeout,$ionicLoading) {
        $scope.isAuth = window.localStorage.token;
        $ionicPlatform.ready(function() {
          var host = '';
          if (window.cordova && window.cordova.plugins && window.cordova.plugins.Keyboard) {
            cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
            cordova.plugins.Keyboard.disableScroll(true);
            host = 'http://218.249.66.27:8888';
          }
        $scope.loginData = {};
        $scope.doLogin = function() {
          $ionicLoading.show({
           template: '正在加载...'
          });
          $http.post(host + '/gettoken', {
            account: 'shenxh',//$scope.loginData.username,
            password: '1234'//$scope.loginData.password
          }).success(function(data) {

            if (data.res_code == 100) {
              window.localStorage.setItem('token', data.user_info.token);
              $ionicLoading.hide();
              window.location.href = 'index.html';
              //history.replaceState({}, "page", "index.html");
            }else{
              var alertPopup = $ionicPopup.alert({
                 title: '提示',
                 template: data.res_msg
              });
              $timeout(function() {
                  alertPopup.close();
               }, 3000);
            }
          });
        };
        $scope.doLogin();
      });
      });
  </script>
</body>

</html>
