
.grid9 {
	display: inline-block;
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	color: #333;
	text-align: center;
	border-bottom: solid 1px #eee;
	border-right: solid 1px #eee;
}

/* Empty. Add your own CSS if you like */

.grid9 img {
	width: 33%;
	/*margin-top: 25%;*/
	border-radius: 3px;
}
.grid9 a {
	text-decoration: none;
	color: #333;
}
.item, .item h2 {
	white-space: normal;
}

/* communal */

.t-center{
	text-align:center;
}
.f-r{
	float:right;
}

/* tab-works */

.jump-m-w{
	color:black;
	float:right;
	font-size:20px;
}
.jump-w{
	color:black;
	text-decoration:none;
}

/* tab-account */
.profile{
	text-align:center;
}
.profile .banner{
	width:100%;
}
.profile .avatar{
	border-radius:50%;
	width:80px;
	margin-top:-64px;
}
.ion-info-modify{
	color:#ccc;
	float:right;
	margin-left:10px;
	font-size:8px;
}
